@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* :root {
    --variable: value;
  } */

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

body {
  background-color: tomato;
  color: #190704;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 6.25rem;
  font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
}
h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #ffedea;
  filter: drop-shadow(1px 1px 1px rgba(100, 29, 18, 1))
    drop-shadow(2px 2px 1px rgba(100, 29, 18, 0.9))
    drop-shadow(3px 3px 2px rgba(100, 29, 18, 0.8))
    drop-shadow(4px 4px 2px rgba(100, 29, 18, 0.7))
    drop-shadow(5px 5px 3px rgba(100, 29, 18, 0.6))
    drop-shadow(6px 6px 3px rgba(100, 29, 18, 0.5))
    drop-shadow(7px 7px 4px rgba(100, 29, 18, 0.4))
    drop-shadow(8px 8px 4px rgba(100, 29, 18, 0.3))
    drop-shadow(9px 9px 5px rgba(100, 29, 18, 0.2))
    drop-shadow(10px 10px 5px rgba(100, 29, 18, 0.1));
}
.filter-container,
.post-container {
  margin-top: 1.25rem;
  width: 80vw;
  max-width: 800px;
}
.filter {
  background-color: #fc9281;
  color: #4b160d;
  outline: none;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: all 300ms ease;
  margin-bottom: 1rem;
  box-shadow: rgba(75, 22, 13, 0.1) 0px 1px 2px;
  max-width: 100%;
}

.filter:focus {
  background-color: #fff4f2;
  box-shadow: rgba(75, 22, 13, 0.18) 0px 2px 4px,
    rgba(75, 22, 13, 0.35) 3px 3px 5px;
}

.post {
  position: relative;
  background-color: #ffedea;
  padding: 2rem;
  box-shadow: rgba(75, 22, 13, 0.18) 0px 2px 4px,
    rgba(75, 22, 13, 0.35) 3px 3px 5px;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.post .post-title {
  margin: 0 0 0.5rem;
}

.post .post-body {
  margin-top: 0;
}
.post .post-body:last-of-type {
  margin-bottom: 0;
}

.post .number {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  background-color: #190704;
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  transform: translate(-50%, -50%);
  box-shadow: rgba(75, 22, 13, 0.18) 0px 2px 4px,
    rgba(75, 22, 13, 0.35) 3px 3px 5px;
}

.loader {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 3rem;
  transition: opacity 300ms ease-in;
}
.loader.show {
  opacity: 1;
}
.circle {
  width: 1rem;
  height: 1rem;
  background: #fff;
  border-radius: 50%;
  margin: 0.25rem;
  box-shadow: rgba(75, 22, 13, 0.18) 0px 2px 4px,
    rgba(75, 22, 13, 0.35) 3px 3px 5px;
  animation: bounce 500ms ease-in infinite;
}

.circle:nth-of-type(2) {
  animation-delay: 100ms;
}
.circle:nth-of-type(3) {
  animation-delay: 200ms;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100%);
  }
}
